
.pleft {
    padding-left: 40px;
    padding-right: 280px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 16px;
}

.plefts {
    padding-left: 40px;
    padding-right: 280px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 50px;
    background-color: darkorange;
}

body {
    font-family: OpenSans, sans-serif;
    background: #807a2a;
    margin: 0;
    color: white;
    padding-left: 50px;
    padding-right: 50px;

}